###> ignore some local files ###
/.idea
*.iml
*~
/.DS_Store
###< ignore some local files ### 

###> ignore vendor and composer lock files ###
vendor
composer.lock
###< ignore vendor and composer lock files ###

###> ignore some config files ###
.env
###< ignore some config files ###
